junit.SampleConfigCase.baseDir=${example-xml.build.dir}
junit.PreprocessorCase.baseDir=${example-xml.build.dir}/preprocessor
junit.SourceCase.baseDir=${example-xml.build.dir}/sources
junit.AssertionCase.baseDir=${example-xml.build.dir}/assertions