# Standard project files
.eclipse
build.properties
.classpath
.project
.idea
.settings
*.class
*~
.DS_Store
*.ipr
*.iml
*.iws
*.class

# Project artefacts from building.
cobertura.ser
jacoco.exec
junit.log
derby.log
ivy.jar
build
activemq-data
testoutput
log4j.properties
*.orig
target
bin
