# Standard project files
.eclipse
build.properties
.classpath
.project
.idea
.settings
*.class
*~
.DS_Store
*.ipr
*.iml
*.iws
*.class
.vscode
.gradle

# Project artefacts from building.
cobertura.ser
jacoco.exec
junit.log
derby.log
ivy.jar
build
activemq-data
testoutput
log4j.properties
*.orig
target
bin
gradle.properties
security-test.properties
security-test.properties.resolved
unit-tests.properties
unit-tests.properties.resolved
security.properties
out/
null/
Gemfile.lock
.sass-cache
_site
*/src/main/generated
.jekyll-cache
