package ${packageName};

import java.util.LinkedList;
import java.beans.SimpleBeanInfo;
import java.beans.PropertyDescriptor;
import java.beans.IntrospectionException;
import java.lang.reflect.Method;

public class ${className}BeanInfo extends SimpleBeanInfo {

	/**
	 * Get the bean class field descriptors
	 *
	 * @return bean class field descriptors
	 */
	@Override
	public PropertyDescriptor[] getPropertyDescriptors() {
	
		PropertyDescriptor[] descriptors = null;

		try {
			LinkedList<PropertyDescriptor> tempList = new LinkedList<PropertyDescriptor>();
#foreach($field in $fields)
			tempList.add(new PropertyDescriptor("${field.simpleName}", ${className}.class));
#end
			descriptors = tempList.toArray(new PropertyDescriptor[]{});
			
		} catch (IntrospectionException e) {
			throw new RuntimeException(e);
		}
		return descriptors;
	}
}
