# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2

jobs:
  publish:
    machine:
      image: ubuntu-2004:202201-02

    working_directory: ~/interlok

    environment:
      JAVA_TOOL_OPTIONS: -Xmx2G
      TERM: dumb
      DEBIAN_FRONTEND: noninteractive

    steps:
      - checkout

      - run:
          name: Configure
          command: |
            sudo -E apt-get -y -q update
            sudo -E apt-get -y -q install haveged openjdk-8-jdk graphviz
            sudo -E systemctl restart haveged
            mkdir -p ~/.gradle
            echo "org.gradle.warning.mode=none" > ~/.gradle/gradle.properties
            echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties

      # Download and cache dependencies
      - restore_cache:
          keys:
            - dependencies-{{ .Environment.CIRCLE_JOB}}-{{ checksum "build.gradle" }}-{{ checksum "interlok-core/build.gradle" }}-{{ checksum "interlok-common/build.gradle"}}
            - dependencies-{{ checksum "build.gradle" }}-{{ checksum "interlok-core/build.gradle" }}-{{ checksum "interlok-common/build.gradle"}}
            - dependencies-{{ checksum "build.gradle" }}

      # run tests!
      - run:
          name: publish
          command: |
            chmod +x ./gradlew
            ./gradlew -PverboseTests=true clean publish

      - save_cache:
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
          key: dependencies-{{ .Environment.CIRCLE_JOB}}-{{ checksum "build.gradle" }}-{{ checksum "interlok-core/build.gradle" }}-{{ checksum "interlok-common/build.gradle"}}

  build:
    machine:
      image: ubuntu-1604:201903-01

    working_directory: ~/interlok

    environment:
      JAVA_TOOL_OPTIONS: -Xmx2G
      TERM: dumb
      DEBIAN_FRONTEND: noninteractive

    steps:
      - checkout

      - run:
          name: Configure
          command: |
            sudo -E apt-get -y -q update
            sudo -E apt-get -y -q install haveged openjdk-8-jdk
            sudo -E systemctl restart haveged
            mkdir -p ~/.gradle
            echo "org.gradle.warning.mode=none" > ~/.gradle/gradle.properties
            echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties
            echo "default.jdbc.storedproc.tests.enabled=false" >> interlok-core/build.properties
            echo "default.ftp.tests.enabled=false" >> interlok-core/build.properties
            echo "junit.jms.tests.enabled=false" >> interlok-core/build.properties

      # Download and cache dependencies
      - restore_cache:
          keys:
            - dependencies-{{ .Environment.CIRCLE_JOB}}-{{ checksum "build.gradle" }}-{{ checksum "interlok-core/build.gradle" }}-{{ checksum "interlok-common/build.gradle"}}
            - dependencies-{{ checksum "build.gradle" }}-{{ checksum "interlok-core/build.gradle" }}-{{ checksum "interlok-common/build.gradle"}}
            - dependencies-{{ checksum "build.gradle" }}

      # run tests!
      - run:
          name: Run Tests
          command: |
            chmod +x ./gradlew
            ./gradlew -PverboseTests=true test jacocoTestReport

      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always

      - store_test_results:
          path: ~/test-results

      - save_cache:
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
          key: dependencies-{{ .Environment.CIRCLE_JOB}}-{{ checksum "build.gradle" }}-{{ checksum "interlok-core/build.gradle" }}-{{ checksum "interlok-common/build.gradle"}}

  buildjava11:
    machine:
      image: ubuntu-1604:201903-01

    working_directory: ~/interlok

    environment:
      JAVA_TOOL_OPTIONS: -Xmx2G
      TERM: dumb
      DEBIAN_FRONTEND: noninteractive

    steps:
      - checkout

      - run:
          name: Configure
          command: |
            sudo -E apt-get -y -q update
            sudo -E apt-get -y -q install haveged openjdk-11-jdk
            sudo -E systemctl restart haveged
            mkdir -p ~/.gradle
            echo "org.gradle.warning.mode=none" > ~/.gradle/gradle.properties
            echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties
            echo "default.jdbc.storedproc.tests.enabled=false" >> interlok-core/build.properties
            echo "default.ftp.tests.enabled=false" >> interlok-core/build.properties
            echo "junit.jms.tests.enabled=false" >> interlok-core/build.properties

      # Download and cache dependencies
      - restore_cache:
          keys:
            - dependencies-{{ .Environment.CIRCLE_JOB}}-{{ checksum "build.gradle" }}-{{ checksum "interlok-core/build.gradle" }}-{{ checksum "interlok-common/build.gradle"}}
            - dependencies-{{ checksum "build.gradle" }}-{{ checksum "interlok-core/build.gradle" }}-{{ checksum "interlok-common/build.gradle"}}
            - dependencies-{{ checksum "build.gradle" }}

      # run tests!
      - run:
          name: Run Tests
          command: |
            export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
            chmod +x ./gradlew
            ./gradlew -PverboseTests=true test jacocoTestReport

      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always

      - store_test_results:
          path: ~/test-results

      - save_cache:
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
          key: dependencies-{{ .Environment.CIRCLE_JOB}}-{{ checksum "build.gradle" }}-{{ checksum "interlok-core/build.gradle" }}-{{ checksum "interlok-common/build.gradle"}}


workflows:
  version: 2
  commit:
    jobs:
      - buildjava11
      # - sonarbuild:
      #     context: SonarCloud

  # nightly:
  #   triggers:
  #     - schedule:
  #         cron: "00 04 * * 2,5"
  #         filters:
  #           branches:
  #             only:
  #               - develop
  #   jobs:
  #     - build
