
# Properties controlling the default certificate information.
junitsecurity.test.cfg.root=@BUILD_DIR@/tmp/security/tests
junitsecurity.test.remote.location.enabled=${default.security.remote.tests.enabled}

junitsecurity.certificate.country=GB
junitsecurity.certificate.stateOrProvince=Middlesex
junitsecurity.certificate.locality=Uxbridge
junitsecurity.certificate.organisation=Adaptris
junitsecurity.certificate.organisationalUnit=Development
# The commonName will be randomized
# certificate.commonName=security-test
junitsecurity.certificate.emailAddress=myname@adaptris.com
junitsecurity.certificate.signaturealgorithm=MD5WITHRSA
junitsecurity.certificate.keyalgorithm=RSA
junitsecurity.certificate.keyalgorithm.size=512


junitsecurity.keystores.common.keystorePassword=ctec123
junitsecurity.keystores.common.privateKeyPassword=ctec123
junitsecurity.keystores.common.privatekey.alias=security-test
junitsecurity.keystores.common.ca.alias=ca

junitsecurity.keystore.remote.root=${default.security.http.server.url.root}
junitsecurity.keystore.remote.realpath=${default.security.http.server.file.root}

junitsecurity.keystore.keystoreUrl=file:///${junitsecurity.test.cfg.root}/keystore-test.keystore?keystoreType=jks
junitsecurity.keystore.ca.keystoreUrl=jceks:///${junitsecurity.test.cfg.root}/ca-test.keystore
junitsecurity.keystore.new.keystoreUrl=file:///${junitsecurity.test.cfg.root}/keystore-test.2.keystore?keystoreType=jks
junitsecurity.keystore.security.keystoreUrl=file:///${junitsecurity.test.cfg.root}/security-test.keystore?keystoreType=jceks
junitsecurity.keystore.new.keystorePassword=ctec1234
junitsecurity.keystore.single.x509url.alias=x509
junitsecurity.keystore.single.x509url.uppercaseAlias=X509
junitsecurity.keystore.single.x509url=file:///@BASE_DIR@/src/test/resources/security/good.cer?keystoreType\=X509&keystoreAlias\=${junitsecurity.keystore.single.x509url.alias}
junitsecurity.keystore.single.x509url.uppercase=file:///@BASE_DIR@/src/test/resources/security/good.cer?keystoreType\=X509&keystoreAlias\=${junitsecurity.keystore.single.x509url.uppercaseAlias}
junitsecurity.keystore.single.pkcs12url.alias=pkcs12
junitsecurity.keystore.single.pkcs12url=file:///@BASE_DIR@/src/test/resources/security/pkey.pfx?keystoreType\=PKCS12&keystoreAlias\=${junitsecurity.keystore.single.pkcs12url.alias}
junitsecurity.keystore.single.xmlkeyinfourl.alias=xmlkeyinfo
junitsecurity.keystore.single.xmlkeyinfourl.uppercaseAlias=XMLKEYINFO
junitsecurity.keystore.single.xmlkeyinfourl=file:///@BASE_DIR@/src/test/resources/security/xml-key-info.xml?keystoreType\=XmlKeyInfo&keystoreAlias\=${junitsecurity.keystore.single.xmlkeyinfourl.alias}
junitsecurity.keystore.single.xmlkeyinfourl.uppercase=file:///@BASE_DIR@/src/test/resources/security/xml-key-info.xml?keystoreType\=XmlKeyInfo&keystoreAlias\=${junitsecurity.keystore.single.xmlkeyinfourl.uppercaseAlias}

junitsecurity.keystore.import.pkcs12.file=@BASE_DIR@/src/test/resources/security/pkey.pfx
junitsecurity.keystore.import.certchain.file=@BASE_DIR@/src/test/resources/security/pkey.certchain.p7b
junitsecurity.keystore.import.x509.file=@BASE_DIR@/src/test/resources/security/good.cer

junitsecurity.keystore.composite.1=${junitsecurity.keystore.keystoreUrl}
junitsecurity.keystore.composite.2=${junitsecurity.keystore.single.x509url}
junitsecurity.keystore.composite.3=${junitsecurity.keystore.single.pkcs12url}

# The algorithm to use when testing encryption/decryption
junitsecurity.security.algorithm=DESede/CBC/PKCS5Padding
junitsecurity.security.algorithm.keysize=168

junitsecurity.certificate.handler.expired=@BASE_DIR@/src/test/resources/security/expired.cer
junitsecurity.certificate.handler.good=@BASE_DIR@/src/test/resources/security/good.cer
