log4j.rootLogger=INFO, CONSOLE

log4j.appender.CONSOLE=org.apache.log4j.ConsoleAppender
log4j.appender.CONSOLE.layout=org.apache.log4j.PatternLayout
log4j.appender.CONSOLE.layout.ConversionPattern=%-5p [%t] [%c{1}.%M()] %m%n
log4j.appender.CONSOLE.threshold=DEBUG
log4j.appender.CONSOLE.follow=true


log4j.logger.org.exolab=WARN
log4j.logger.org.castor=WARN
log4j.logger.org.springframework=WARN
log4j.logger.org.quartz=INFO
log4j.logger.org.apache=FATAL
log4j.logger.com.adaptris.core.CastorMarshaller=WARN
log4j.logger.com.mchange.v2.c3p0.SQLWarnings=WARN