# user-specific properties for unit tests
# naming convention is <test class name>.<member name>

# This file is imported directly into the build.xml before being re-written out as
# unit-tests.properties.
# the prefix junit. is used to allow easy filtering when writing out the properties
# at jar creation time.


junit.StandardWorkerTest._baseUrl=file:///${build.dir}/unit-tests
junit.NioWorkerTest.fileName=${java.io.tmpdir}/nioworkertest.txt


junit.MarshallerTest.dir=${build.dir}/junit/marshaller
# These two are hard-coded in the appropriate tests for now.
# junit.MarshallerTest.castor.file=castor-standalone.xml
# junit.MarshallerTest.xstream.file=xstream-standalone.xml

junit.FsMessageConsumerTest.destinationName=file:///${build.dir}/junit/fs-consume
junit.FsMessageProducerTest.baseUrl=file:///${build.dir}/junit/fs-produce
junit.FsMessageProducerTest.tempDirUrl=file:///${build.dir}/junit/fs-temp
junit.FileSorterTest.tempDirUrl=file:///${build.dir}/junit/fs-sorter

junit.FfTransformService.stylesheet=file:///${test.resources.dir}/transform/ff.definition.xml
junit.FfTransformService.inputFile=${test.resources.dir}/transform/ff.input.txt
junit.FfTransformService.inputFile_ISO_8859=${test.resources.dir}/transform/ff.input.iso8859.txt
junit.FfTransformService.issue2661.input=${test.resources.dir}/transform/issue2661.csv
junit.FfTransformService.issue2661.definition=file:///${test.resources.dir}/transform/issue2661-ffdef.xml

junit.XpathSyntaxIdentifierTest.inputFile=${test.resources.dir}/transform/inv.xml
junit.XpathSyntaxIdentifierTest.non_text_node_input=${test.resources.dir}/transform/redmine-issue1020.xml

junit.CheckUniqueMetadataValueServiceTest.storeFileUrl=file:///${build.dir}/store.dat
junit.SampleConfigCase.baseDir=${example-xml.build.dir}

junit.SharedComponentConfig.baseDir=${example-xml.build.dir}/shared
junit.ConsumerCase.baseDir=${example-xml.build.dir}/consumers
junit.ServiceCase.baseDir=${example-xml.build.dir}/services
junit.ProducerCase.baseDir=${example-xml.build.dir}/producers
junit.WorkflowCase.baseDir=${example-xml.build.dir}/workflows
junit.ErrorHandlerCase.baseDir=${example-xml.build.dir}/error-handlers
junit.EventHandlerCase.baseDir=${example-xml.build.dir}/event-handlers
junit.FailedMessageRetrierCase.baseDir=${example-xml.build.dir}/failed-message-retriers
junit.ChannelCase.baseDir=${example-xml.build.dir}/channels
junit.ProduceDestinationCase.baseDir=${example-xml.build.dir}/destinations

junit.FsConsumerExample.baseDir=${junit.ConsumerCase.baseDir}/file-system/standard-consumer
junit.NonDeletingFsConsumerExample.baseDir=${junit.ConsumerCase.baseDir}//file-system/non-deleting-fs-consumer
junit.SortedFsConsumerExample.baseDir=${junit.ConsumerCase.baseDir}/file-system/sorted-fs-consumer
junit.TraversingFsConsumerExample.baseDir=${junit.ConsumerCase.baseDir}//file-system/tree-walking

junit.JmsConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}/jms
junit.FtpConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}/ftp
junit.FtpsConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}/ftps
junit.SftpConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}/sftp
junit.MailConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}/mail
junit.HttpConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}/http
junit.SocketConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}/socket
junit.JmxConsumerExamples.baseDir=${junit.ConsumerCase.baseDir}/jmx


junit.JmsProducerExamples.baseDir=${junit.ProducerCase.baseDir}/jms
junit.FtpProducerExamples.baseDir=${junit.ProducerCase.baseDir}/ftp
junit.FtpsProducerExamples.baseDir=${junit.ProducerCase.baseDir}/ftps
junit.SftpProducerExamples.baseDir=${junit.ProducerCase.baseDir}/sftp
junit.MailProducerExamples.baseDir=${junit.ProducerCase.baseDir}/mail
junit.HttpProducerExamples.baseDir=${junit.ProducerCase.baseDir}/http
junit.JdbcProducerExamples.baseDir=${junit.ProducerCase.baseDir}/jdbc
junit.SocketProducerExamples.baseDir=${junit.ProducerCase.baseDir}/socket
junit.FsProducerExamples.baseDir=${junit.ProducerCase.baseDir}/file-system

junit.ServiceCollectionExamples.baseDir=${junit.ServiceCase.baseDir}/service-collections
junit.BranchingServiceExamples.baseDir=${junit.ServiceCase.baseDir}/branching-services
junit.HttpServiceExamples.baseDir=${junit.ServiceCase.baseDir}/http
junit.SecurityServiceExamples.baseDir=${junit.ServiceCase.baseDir}/security
junit.DynamicServiceExamples.baseDir=${junit.ServiceCase.baseDir}/dynamic-services
junit.JmxServiceExamples.baseDir=${junit.ServiceCase.baseDir}/jmx-services
junit.ExceptionServiceExamples.baseDir=${junit.ServiceCase.baseDir}/exception-handling
junit.JdbcServiceExamples.baseDir=${junit.ServiceCase.baseDir}/jdbc
junit.MetadataServiceExamples.baseDir=${junit.ServiceCase.baseDir}/metadata-manipulation
junit.MimeServiceExamples.baseDir=${junit.ServiceCase.baseDir}/handling-mime-parts
junit.SplitterServiceExamples.baseDir=${junit.ServiceCase.baseDir}/splitting-messages
junit.TransformServiceExamples.baseDir=${junit.ServiceCase.baseDir}/transformation-and-validation
junit.GeneralServiceExamples.baseDir=${junit.ServiceCase.baseDir}/misc
junit.SequenceNumberServiceExamples.baseDir=${junit.ServiceCase.baseDir}/sequence-number-generation
junit.SyntaxRoutingServiceExamples.baseDir=${junit.ServiceCase.baseDir}/routing-messages
junit.CacheServiceExamples.baseDir=${junit.ServiceCase.baseDir}/cache
junit.AggregatingServiceExamples.baseDir=${junit.ServiceCase.baseDir}/aggregator
junit.XmlServiceExamples.baseDir=${junit.ServiceCase.baseDir}/xml
junit.RegexpServiceExamples.baseDir=${junit.ServiceCase.baseDir}/regexp
junit.TranscodingServiceExamples.baseDir=${junit.ServiceCase.baseDir}/transcoding






junit.EdiTransformServiceTest.gxml=${test.resources.dir}/transform/ordersD96A.gxml
junit.EdiTransformServiceTest.input.edi=${test.resources.dir}/transform/ordersD96a.edi
junit.EdiTransformServiceTest.input.xml=${test.resources.dir}/transform/ordersD96a.xml
junit.EdiTransformServiceTest.charset=com.adaptris.edi.parser.StandardEdifactCharacterSet
junit.EdiTransformServiceTest.gxml.url=file:///${test.resources.dir}/transform/ordersD96A.gxml


junit.XmlValidationServiceTest.schemaUrl=file://localhost/${test.resources.dir}/transform/schema-simple.xsd
junit.XmlValidationServiceTest.schemaUrl2=file://localhost/${test.resources.dir}/transform/schema-simple-alternate.xsd
junit.XmlValidationServiceTest.invalidSchemaUrl=file://localhost/${test.resources.dir}/transform/schema-input.xml
junit.XmlValidationServiceTest.input.xml=${test.resources.dir}/transform/schema-input.xml

junit.XmlTransformService.outputNodeTransform=file:///${test.resources.dir}/transform/simple-node-transform.xsl
junit.XmlTransformService.outputTestTransform=file:///${test.resources.dir}/transform/simple-transform.xsl
junit.XmlTransformService.outputTestTransformWithXslMessage=file:///${test.resources.dir}/transform/simple-transform-xsl-message.xsl
junit.XmlTransformService.outputTestInvalidTransform=file:///${test.resources.dir}/transform/simple-invalid-transform.xsl
junit.XmlTransformService.outputTestFatalTransform=file:///${test.resources.dir}/transform/simple-fatal-transform.xsl
junit.XmlTransformService.outputTestStxTransform=file:///${test.resources.dir}/transform/simple-stx-transform.stx
junit.XmlTransformService.outputTestMessage=${test.resources.dir}/transform/simple-message.xml
junit.XmlTransformService.outputTestResult=Hello
junit.XmlTransformService.issue2641.transform=file:///${test.resources.dir}/transform/issue2641.xsl
junit.XmlTransformService.issue2641.input=${test.resources.dir}/transform/issue2641.xml

junit.XmlTransformService.remove.namespace.mapping=file:///${test.resources.dir}/transform/copy-iso8859-no-ns.xsl


junit.XpathSplitter.issue2658.input=${test.resources.dir}/services/issue2658.xml


junit.FopTransformService.inputMessage=${test.resources.dir}/transform/fop/sample_input.fo
junit.FopTransformService.outputMessage=${test.resources.dir}/transform/fop/sample_output.pdf

junit.StoreMetadataValueServiceTest.storeFileUrl=file:///${test.resources.dir}/store
junit.CheckMetadataValueServiceTest.storeFileUrl=file:///${test.resources.dir}/store
junit.SimpleSequenceNumberTest.basedir=${build.dir}/junit/SimpleSequenceNumberTest

junit.jdbc.backreference.url=jdbc:derby:memory:jdbc-backref;create=true
junit.jdbc.backreference.driver=org.apache.derby.jdbc.EmbeddedDriver

# junit.retry.url=jdbc:derby:memory:jdbc-retry;create=true
# junit.retry.driver=org.apache.derby.jdbc.EmbeddedDriver
junit.jdbc.url=jdbc:derby:${build.dir}/tmp/jdbc/jdbc-tmp;create=true
junit.jdbc.url.2=jdbc:derby:${build.dir}/tmp/jdbc/jdbc-failover-tmp
junit.jdbc.driver=org.apache.derby.jdbc.EmbeddedDriver

junit.jdbc.storedproc.tests.enabled=${default.jdbc.storedproc.tests.enabled}
junit.jdbc.storedproc.driver=${default.jdbc.storedproc.driver}
# This property is now auto-generated in the init.tests phase of the adapter build.
# junit.jdbc.storedproc.url=${default.jdbc.storedproc.url}${default.jdbc.storedproc.database}?user=${default.jdbc.storedproc.username}&password=${default.jdbc.storedproc.password}

junit.jdbc.storedproc.url.noacl=${default.jdbc.storedproc.url}${default.jdbc.storedproc.database}
junit.jdbc.storedproc.username=${default.jdbc.storedproc.username}
junit.jdbc.storedproc.password=${default.jdbc.storedproc.password}
junit.jdbc.storedproc.vendor=${default.jdbc.storedproc.vendor}
junit.jdbc.storedproc.teststatement=${default.jdbc.storedproc.teststatement}


junit.test.cfg.root=${build.dir}
junit.security.password=ctec123
junit.security.keystore.path=${junit.test.cfg.root}/security-test.keystore
junit.security.keystore.type=JKS
junit.security.keystoreUrl=file:///${junit.security.keystore.path}?keystoreType=${junit.security.keystore.type}
junit.security.alias=partnerA

junit.adp.http.port=58080
junit.adp.https.port=58443

junit.jetty.http.port=58080
junit.jetty.https.port=58443
junit.jetty.user.realm.properties=${test.resources.dir}/realm.properties


junit.DuplicateMessageRoutingService.store=file:///${build.dir}/DMR.dat


junit.mail.email.with.cd=${test.resources.dir}/mail/email-with-content-disposition.txt
junit.mail.email.without.cd=${test.resources.dir}/mail/email-without-content-disposition.txt

junit.jdbc.sequencenumber.url=jdbc:derby:memory:sequencenumber;create=true
junit.jdbc.sequencenumber.driver=org.apache.derby.jdbc.EmbeddedDriver

junit.jdbc.jdbcservicelist.url=jdbc:derby:memory:jdbcservicelist;create=true
junit.jdbc.jdbcservicelist.driver=org.apache.derby.jdbc.EmbeddedDriver

junit.jdbc.queryservice.url=jdbc:derby:memory:JdbcQueryServiceTest;create=true
junit.jdbc.queryservice.driver=org.apache.derby.jdbc.EmbeddedDriver

junit.jdbc.captureservice.url=jdbc:derby:memory:JdbcDataQueryService;create=true
junit.jdbc.captureservice.driver=org.apache.derby.jdbc.EmbeddedDriver



junit.fs.SizeBasedFilter=${test.resources.dir}/readme.txt


junit.msg.initFromFile=${test.resources.dir}/readme.txt
junit.msg.initFromZipFile=${test.resources.dir}/lms/SYBRANCH.zip

# This is the location of the jacozoom DLL for testing MSMQ
junit.msmq.jacozoom.dll=${lib.dir}/izmjnicom.dll


junit.FtpConsumerTest.host=${default.ftp.host}
junit.FtpConsumerTest.username=${default.ftp.user}
junit.FtpConsumerTest.remotedir=/junit
junit.FtpConsumerTest.password=${default.ftp.password}

junit.SftpConsumerTest.host=${default.ftp.host}
junit.SftpConsumerTest.password=${default.ftp.password}
junit.SftpConsumerTest.username=${default.ftp.user}
junit.SftpConsumerTest.homedir=/home/${default.ftp.user}
junit.SftpConsumerTest.tempHostsFile=${build.dir}/test/tempKnownHosts

# Bear in mind that the FTP user is in a chroot jail, it would be the
# same as the ftp settings otherwise...
junit.SftpConsumerTest.remotedir=${junit.SftpConsumerTest.homedir}/junit

junit.iso8853.basedir=${test.resources.dir}/transform/iso8583
junit.iso8853.file.iso220=${junit.iso8853.basedir}/iso220
junit.iso8853.file.iso420=${junit.iso8853.basedir}/iso420
junit.iso8853.file.iso220xml=${junit.iso8853.basedir}/iso220XML
junit.iso8853.file.iso200xml=${junit.iso8853.basedir}/iso200XML

junit.ftp.tests.enabled=${default.ftp.tests.enabled}

junit.ftp.host=${default.ftp.host}
junit.ftp.username=${default.ftp.user}
# Bear in mind that this user is in a chroot jail, it would be the
# same as the sftp settings otherwise...
junit.ftp.get.remotedir=/junit/get
junit.ftp.put.remotedir=/junit/put
junit.ftp.get.filename=file.txt
junit.ftp.put.filename=file.txt
junit.ftp.get.filter=*.txt
junit.ftp.password=${default.ftp.password}

junit.sftp.host=${default.ftp.host}
junit.sftp.username=${default.ftp.user}
junit.sftp.password=${default.ftp.password}
junit.sftp.get.remotedir=/home/${junit.sftp.username}/junit/get
junit.sftp.put.remotedir=/home/${junit.sftp.username}/junit/put
junit.sftp.get.filename=${junit.ftp.get.filename}
junit.sftp.put.filename=${junit.ftp.put.filename}
junit.sftp.get.filter=${junit.ftp.get.filter}

junit.event.basedir=${build.dir}/events
junit.scripting.basedir=${build.dir}/scripting

junit.metadata.MetadataToFileSystem.baseDirUrl=file:///${build.dir}/junit/metadata-to-fs

junit.resolver.mapped.url=file://localhost/${test.resources.dir}/jetty-configure.dtd

junit.urlstring.dir=${build.dir}/junit/urlstring
junit.urlstring.serialized=${test.resources.dir}/urlstring.serialized


